# Contentful (get your keys at https://app.contentful.com)
CONTENTFUL_SPACE_ID=
CONTENTFUL_ACCESS_TOKEN=


# Optional: preview draft content
# CONTENTFUL_PREVIEW_ACCESS_TOKEN=
# NEXT_PUBLIC_CONTENTFUL_PREVIEW=false
